In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/crawled_data/flight.csv", on_bad_lines='skip')

In [4]:
new_df = df.drop(['Unnamed: 0'], axis=1)

In [5]:
new_df.head()

,Leave Date,Depart Time (Leg 1),Airline(s),Travel Time,Origin,Destination,Price ($)
0,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
1,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
2,2023-04-17,10:50 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
3,2023-04-17,9:45 AM,VietJet Air,2 hr 10 min,SGN,HAN,HB 3211
4,2023-04-17,6:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2891

In [6]:
new_df = df.drop(['Unnamed: 0'], axis=1)
# Câu lệnh trên sử dụng phương thức drop() của pandas DataFrame để loại bỏ cột 'Unnamed: 0' khỏi DataFrame df
# cột 'Unnamed: 0' này có thể được tạo ra trong quá trình crawl dữ liệu hoặc import dữ liệu vào DataFrame mà không có tên cột nào được chỉ định. Nếu cột này không mang ý nghĩa quan trọng cho phân tích dữ liệu của bạn, bạn có thể loại bỏ nó để làm cho DataFrame của mình gọn nhẹ hơn

In [7]:
new_df.head()
# Phương thức head() của pandas DataFrame được sử d#ng để hiển thị 5 hàng đầu tiên của DataFrame.

,Leave Date,Depart Time (Leg 1),Airline(s),Travel Time,Origin,Destination,Price ($)
0,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
1,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
2,2023-04-17,10:50 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2805
3,2023-04-17,9:45 AM,VietJet Air,2 hr 10 min,SGN,HAN,HB 3211
4,2023-04-17,6:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,HB 2891

In [8]:
new_df.describe()
# Phương thức describe() của pandas DataFrame được sử dụng để tóm tắt thống kê các thông số cơ bản của DataFrame 
# như số lượng mẫu, giá trị trung bình, độ lệch chuẩn, giá trị nhỏ nhất, giá trị lớn nhất và các phân vị của dữ liệu.
# count: số lượng mẫu (dòng) trong cột.
# unique: số lượng giá trị chuỗi duy nhất trong cột.
# top: giá trị chuỗi phổ biến nhất trong cột.
# freq: số lần xuất hiện của giá trị chuỗi phổ biến nhất trong cột

,Leave Date,Depart Time (Leg 1),Airline(s),Travel Time,Origin,Destination,Price ($)
count,17762,17762,17762,17762,17762,17762,17762
unique,33,237,6,31,11,10,3177
top,2023-04-30,8:40 AM,VietJet Air,2 hr 10 min,SGN,SGN,HB 5919
freq,639,214,6786,2656,5499,5692,155

Process field "Price"

In [14]:
new_df['Price ($)'] = df['Price ($)'].replace('HB ','')
# thay thế tất cả các chuỗi "HB " (có khoảng trắng ở cuối) bằng chuỗi rỗng trong cột Price, tức là xóa các khoảng trắng đó đi

In [15]:
new_df['Price'] = df['Price ($)']
# tạo thêm một cột mới tên là "Price" trong DataFrame new_df, với dữ liệu được lấy từ cột "Price ($)"

In [16]:
new_df = new_df.drop(['Price ($)'], axis=1)
# Câu lệnh trên được sử dụng để xóa cột "Price ($)" khỏi new_df

In [17]:
new_df['Price'] = new_df['Price'].replace(['HB '],' ', regex=True )
# Câu lệnh này sử dụng phương thức replace() để thay thế giá trị "HB " bằng dấu cách (" ") trong cột "Price" của DataFrame new_df. 
# Tham số regex=True được sử dụng để áp dụng việc thay thế này cho tất cả các chuỗi ký tự chứa "HB " trong cột "Price"

In [18]:
convert_dict = {'Price': int}
new_df = new_df.astype(convert_dict)
# Câu lệnh trên sử dụng phương thức astype() để chuyển đổi kiểu dữ liệu của cột "Price" 
# trong new_df từ kiểu dữ liệu ban đầu sang kiểu dữ liệu số nguyên (integer)

In [19]:
new_df['Price (VND)'] = new_df['Price']*682
# tạo ra một cột mới trong new_df với tên là "Price (VND)" và chứa giá trị của cột "Price" nhân với 682 (tỷ giá VNĐ/USD)
new_df.drop(["Price"], axis=1)
# loại bỏ cột "Price" khỏi  new_df

,Leave Date,Depart Time (Leg 1),Airline(s),Travel Time,Origin,Destination,Price (VND)
0,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,1913010
1,2023-04-17,10:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,1913010
2,2023-04-17,10:50 PM,VietJet Air,2 hr 10 min,SGN,HAN,1913010
3,2023-04-17,9:45 AM,VietJet Air,2 hr 10 min,SGN,HAN,2189902
4,2023-04-17,6:45 PM,VietJet Air,2 hr 10 min,SGN,HAN,1971662
...,...,...,...,...,...,...,...
17757,2023-05-19,9:55 AM,VietJet Air,1 hr 45 min,PQC,DAD,3665750
17758,2023-05-19,1:10 PM,VietJet Air,2 hr 5 min,PQC,HPH,2512488
17759,2023-05-19,4:35 PM,Bamboo Airways,2 hr 5 min,PQC,HPH,2789380
17760,2023-05-19,1:50 PM,Bamboo Airways,2 hr 5 min,HPH,PQC,3702578
17761,2023-05-19,10:30 AM,VietJet Air,2 hr 5 min,HPH,PQC,3818518